{% extends "base.html" %}
{% block content %}
<div id="content">
  <div class="container">
    <div style="width: 625px; text-align: justify;padding-top: 24px;white-space: pre;word-wrap: break-word;">
<b>Ryan Galloway</b>
Senior VFX Pipeline Engineer

<b><u>Summary</u></b>
- 20+ years experience in VFX and CG pipeline development, with 27 feature film credits
- Lead multiple teams and projects to completion and built out new pipelines at major studios
- Full stack developer with experience in frontend, backend, serverless and devops
- Contributed to Alembic project including creation of Cask Python library and AbcView
- Creator of PySeq, compressed file sequence library (listed on “awesome VFX open source list”)
- Disgraph 2019 speaker on real-time analytics at Industrial Light + Magic

<b><u>Professional Experience</u></b>
<b>FuseFX</b>, Los Angeles, CA
<i>Senior Pipeline Engineer</i> (July 2021–present)
- Developed subset of Business Intelligence applications, with focus on bidding, resource planning and payroll services in a global studio environment
- Integrated tools with ShotGrid/Flow, ADP and Ceridian
- Platform engineering and microservices using AWS and GitLab CI/CD pipelines
- Frontend development: React, Javascript, NextJS, Typescript and Tailwind/CSS
- Backend development: Python, FastAPI/Quart, Docker, AWS CDK infrastructure as code
- Wrote production pipeline development tools for Clarisse, Unreal and Rez

<b>MSG Sphere Studios</b>, Burbank, CA
<i>Senior Manager, Core Pipeline</i> (Jan 2020–July 2021)
- Managed the development of core pipeline tools and technologies
- Large file sequence publishing, tracking and version management on Qumulo
- Worked in direct collaboration with studio leadership and stakeholders to determine solutions that scale and address problems in a user-friendly manner. 
- Established software development guidelines and enforced best practices,
<i>Lead Pipeline Engineer</i> (Jun 2019–Jan 2020)
- Created cross-platform libraries that formed the core pipeline of the studio,
- Developed scalable microservice-based pipeline for nonhomogeneous studio environment,
- Created platform agnostic, scoped environment management system for tools and libraries,
- Managed deployment and devops of new render farm using ansible and jenkins,
- Mentored and provided guidance to other engineers on the pipeline team,

<b>Industrial Light + Magic</b>, San Francisco, CA
<i>Software Engineer</i> (Jun 2011–Jun 2019)
- Project lead for real time production analytics system supporting all of ILM’s facilities,
- Project lead for rig regression test system for all of  ILM’s animation and crdev pipeline,
- Duties included researching, design and development of software tools for ILM's CG pipeline,
- Contributing member of the Alembic open source project (C++ and Python),

<b>StereoBox</b>, San Rafael, CA
<i>Head of Development</i> (Jan. 2011–May 2011)
- Responsible for overseeing design and development of production pipeline,
- Responsible for implementing software development best practices at the studio,
- Designed and implemented custom pipeline, dailies and asset management tools,
- Prototyped proprietary stereoscopic depth grading tool aimed at the commodity software market,
- Worked with upper management to coordinate development and pipeline efforts, both internally and with external global partners.

<b>ImageMovers Digital</b>, Novato, CA
<i>Associate CG Supervisor</i> (Mar. 2010–Dec. 2010)
- Responsible for ensuring the stability of the pipeline through production of Mars Needs Moms,
- Mitigated risks of pipeline and workflow changes to meet immediate needs of production while facing high attrition rates and an aggressive production schedule,
- Attended regular meetings with senior staff to communicate, prioritize and resolve critical issues.
<i>Lead Production Engineer</i> (Sept. 2008–Mar. 2010)
- Production engineering area lead, responsible for overseeing artist-facing tools and pipeline team, 
- Led facility-wide pipeline efficiency improvements and forward-thinking pipeline initiatives,
- Interviewed several production engineering and R&D candidates and contributed to annual production engineering staff reviews,
- Designed, oversaw and led the development of several key production pipeline tools, including
- Next-gen production asset, scene assembly and management pipeline, Pipeline 2.0,
- CG Lighting and rendering user-interface, Isotope,
- File asset management and production tracking system, Loco.
- Routinely collaborated with department leads, VFX & CG supervisors and development staff to
- Transition each department to the next generation pipeline, Mosaic,
- Ensure integration of high-quality code and systems into the production pipeline,
- Determine technical approaches for integrating new features into the pipeline.
<i>Senior Technical Director</i> (2007–Sept. 2008)
- Designed and co-developed motion capture stage acquisition tool, Mometa,
- Worked on set with stage departments during the motion capture of A Christmas Carol,
- Designed and co-developed the studio’s stereo dailies system, Omni,
- Oversaw the integration of third-party applications Scratch, RV and Shotgun into the pipeline,
- Wrote and integrated several studio-wide production libraries in Python and PyQt.

<b>Industrial Light + Magic</b>, San Francisco, CA
<i>Technical Director</i> (2001–2007)
- Responsible for compiling the various elements of a shot and seeing it through to completion,
- Designed and created lighting and the look of computer generated objects and scenes,
- Created images, effects and programs for digitally composited sequences,
- Worked with teams on a production to determine various design solutions,
- Knowledge of applicable software include Maya, Renderman, UNIX and scripting,
- Developed techniques for creating digital mountains and terrain used on Van Helsing,
- R&D’ed photomodeling techniques used on Star Wars: Episode II - Attack of the Clones,
- Triage supervisor for The Nightmare Before Christmas in Disney Digital 3-D,
- Developed tool for creating automatic sequence "cuts" for Bounty Hunter.
<i>Assistant Technical Director</i> (2000–2001)
- Responsible for the setup and maintenance of a show’s environment.
- Responsible for tracking down and fixing problems with show scripts and software.
- Developed several scripts, for example: generating real-time cut sequences incorporating the latest version of any given shot for any given task-type for a show that lacked editorial staff.
- Proficiency in scripting languages including Python and UNIX shell scripting.
<i>Technical Assistant</i> (1999–2000)
- Responsible for monitoring progress of overnight renders,
- Tracked and communicated errors, resource & network issues to technical directors & show supes,
- Tape backup and archiving,
- Python scripting,
- Responsible for allocating appropriate resources to overnight renders.

<b>Enluminari, Inc.</b>, San Francisco, CA
<i>Founder</i> (2005–2008)
- Offers CG production pipeline consulting and development services,
- Development and licensing of diverse b2b commodity software,
- Design and development of web apps using Python, Javascript, MySQL and Flash,
- Launched popular web sites, including myrental.org and speechable.com.

<b>Tandemedia, Inc.</b>, Columbus, OH
<i>Founder &amp; Creative Director</i> (1998–2001)
- Founded a b2b media firm to serve the needs of Internet content creation for local businesses,
- Collaborated with and managed a small team of engineers and sales staff,
- Created dynamic web sites in Flash, HTML and Javascript,
- Created database-backed Internet storefronts and shopping carts,
- Negotiated a successful sale to a competing firm. 

<b>Education &amp; Skills</b>
- B.S. Computer Information Science, The Ohio State University
- Python, Qt, C++, Javascript, React, Java, HTML, SQL, NoSQL, Tailwind/CSS
- Gitlab CI/CD, AWS/Cloud, Microservices, Docker, Qumulo, Ansible, Jenkins, ShotGrid/Flow
- Contributed to Alembic project including creation of Cask Python library and AbcView
- Creator of PySeq, compressed file sequence library (listed on “awesome VFX open source list”)
- Disgraph 2018 speaker on real time analytics system design and development
- Working knowledge of major DCCs: Maya, Houdini, Nuke, UE4, Shotgun, RV
    </div>
  </div>
</div>
</div>
{% endblock %}