{% extends "base.html" %}
{% block content %}
<script>
  $.backstretch([
    "static/photo/IMG_3190.jpg",
    "static/photo/IMG_1649.jpg",
    "static/photo/IMG_1896.jpg",
    "static/photo/IMG_0307.jpg",
    "static/photo/IMG_3136.jpg",
    "static/photo/IMG_1887.jpg",
    "static/photo/IMG_1039.jpg",
    "static/photo/IMG_2689.jpg",
    "static/photo/IMG_1826.jpg",
    "static/photo/IMG_2106.jpg",
    "static/photo/IMG_0919.jpg",
    "static/photo/IMG_1046.jpg",
    "static/photo/IMG_0803.jpg",
    "static/photo/IMG_3471.jpg"
  ], {duration: 7000, transitionDuration: 1000});
</script>
{% endblock %}